<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- Transaction Manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactoryBean"></property>
	</bean>

	<!-- Para que lea los metodos anotados con @Transactional -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- |||| ENTIDADES |||| -->
	<bean id="ModelAndViewBean" class="org.springframework.web.servlet.ModelAndView">
	</bean>
	
	<bean id="ClienteEstandar" class="frgp.utn.edu.ar.dominio.Cliente">
		<property name="localidad" ref="LocalidadEstandar"></property>
		<property name="estado" ref="EstadoClienteEstandar"></property>
	</bean>
	
	<bean id="UsuarioEstandar" class="frgp.utn.edu.ar.dominio.Usuario">
		<property name="tipo" ref="TipoUsuarioEstandar"></property>
		<property name="estado" ref="EstadoUsuarioEstandar"></property>
	</bean>
	
	<bean id="TipoUsuarioEstandar" class="frgp.utn.edu.ar.dominio.Tipo_Usuario"></bean>
	
	<bean id="EstadoUsuarioEstandar" class="frgp.utn.edu.ar.dominio.Estado_User"></bean>
	
	<bean id="LocalidadEstandar" class="frgp.utn.edu.ar.dominio.Localidad">
		<property name="provincia" ref="ProvinciaEstandar"></property>
	</bean>
	<bean id="ProvinciaEstandar" class="frgp.utn.edu.ar.dominio.Provincia"></bean>
	<bean id="EstadoClienteEstandar" class="frgp.utn.edu.ar.dominio.Estado_Cli"></bean>
	
	<!--||| CREO EL SERVICIO PARA CLIENTE |||-->
	<bean id="ClienteServiceBean" class="frgp.utn.edu.ar.servicioImpl.ClienteServicioImpl">
		<property name="dataAccess" ref="ClienteDABean"></property>
	</bean>
	<!-- CLIENTE DAO  -->
	<bean id="ClienteDABean" class="frgp.utn.edu.ar.daoImpl.ClienteDaoImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
	<!--||| CREO EL SERVICIO PARA LOCALIDAD |||-->
	<bean id="LocalidadServiceBean" class="frgp.utn.edu.ar.servicioImpl.LocalidadServicioImpl">
		<property name="dataAccess" ref="LocalidadDABean"></property>
	</bean>
	<!-- LOCALIDAD DAO  -->
	<bean id="LocalidadDABean" class="frgp.utn.edu.ar.daoImpl.LocalidadDaoImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
	<!--||| CREO EL SERVICIO PARA PROVINCIA |||-->
	<bean id="ProvinciaServiceBean" class="frgp.utn.edu.ar.servicioImpl.ProvinciaServicioImpl">
		<property name="dataAccess" ref="ProvinciaDABean"></property>
	</bean>
	<!-- PROVINCIA DAO  -->
	<bean id="ProvinciaDABean" class="frgp.utn.edu.ar.daoImpl.ProvinciaDaoImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
	<!--||| CREO EL SERVICIO PARA ESTADO CLIENTE ||| -->
	<bean id="EstadoClienteServiceBean" class="frgp.utn.edu.ar.servicioImpl.EstadoClienteServicioImpl">
		<property name="dataAccess" ref="EstadoClienteDABean"></property>
	</bean>
	<!-- ESTADO CLIENTE DAO  -->
	<bean id="EstadoClienteDABean" class="frgp.utn.edu.ar.daoImpl.EstadoClienteDaoImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
	<!-- CREO EL SERVICIO PARA Usuario -->
	<bean id="UsuarioServiceBean" class="frgp.utn.edu.ar.servicioImpl.UsuarioServicioImpl">
		<property name="dataAccess" ref="UsuarioDABean"></property>
	</bean>
	<!-- EL SERVICIO NECESITA EL DAO  -->
	<bean id="UsuarioDABean" class="frgp.utn.edu.ar.daoImpl.UsuarioDaoImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
	<!--||| CREO EL SERVICIO PARA ESTADO USUARIO ||| -->
	<bean id="EstadoUsuarioServiceBean" class="frgp.utn.edu.ar.servicioImpl.EstadoUsuarioServicioImpl">
		<property name="dataAccess" ref="EstadoUsuarioDABean"></property>
	</bean>
	<!-- ESTADO USUARIO DAO  -->
	<bean id="EstadoUsuarioDABean" class="frgp.utn.edu.ar.daoImpl.EstadoUsuarioDaoImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
	<!-- CREO EL SERVICIO PARA Tipo_Usuario -->
	<bean id="TipoUsuarioServiceBean" class="frgp.utn.edu.ar.servicioImpl.TipoUsuarioServicioImpl">
		<property name="dataAccess" ref="TipoUsuarioDABean"></property>
	</bean>
	<!-- EL SERVICIO NECESITA EL DAO  -->
	<bean id="TipoUsuarioDABean" class="frgp.utn.edu.ar.daoImpl.TipoUsuarioDaoImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	

	<!-- Define un dataSource, en este bean se configura los parametros de la db -->
	<bean id="dataSourceBean"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/BD_TPINT_G2_PROG1?createDatabaseIfNotExist=true" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- Session factory de Hibernate -->
	<bean id="sessionFactoryBean"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceBean" />

		<!-- En esta propiedad deberian agregarse todas las clases anotadas con JPA. -->
		<property name="annotatedClasses">
			<list>
				<value>frgp.utn.edu.ar.dominio.Prestamo</value>
				<value>frgp.utn.edu.ar.dominio.Persona</value>
				<value>frgp.utn.edu.ar.dominio.Localidad</value>
				<value>frgp.utn.edu.ar.dominio.Provincia</value>
				<value>frgp.utn.edu.ar.dominio.Cliente</value>
				<value>frgp.utn.edu.ar.dominio.Estado_Cli</value>
				<value>frgp.utn.edu.ar.dominio.Usuario</value>
				<value>frgp.utn.edu.ar.dominio.Tipo_Usuario</value>
				<value>frgp.utn.edu.ar.dominio.Estado_User</value>	
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="show_sql">true</prop >
				
				<!-- CREACION DE LA BASE -->
				<prop key="hibernate.hbm2ddl.auto">update</prop> 
			</props>
		</property>
	</bean>
	
</beans>